<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br><br><br>
      <h1 class="h3 mb-3 font-weight-normal text-center">Editer mon événement</h1>

      <%= render 'form', event: @event %>

      <p class="text-center pt-3">
      <%= link_to "Afficher l'événement", @event, class: "btn btn-secondary mx-2" %>
      <%= link_to "Retour à l'accueil", root_path, class: "btn btn-secondary mx-2" %>
      </p>
    </div>
  </div>
</div>
